/* CSS Reset --> */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* CSS Reset <-- */

@font-face {
  font-family: "Inter_VariableFont";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --black: hsl(0, 0%, 8%);

  font-family: "Inter_VariableFont";

  font-size: 14px;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--black);
  color: var(--white);
}

.profile-card {
  width: 325px;
  background-color: var(--dark-grey);
  padding: 1.65em;
  border-radius: 12px;
}

.profile-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.7em;
}

.profile-image {
  width: 34%;
  border-radius: 50%;
  overflow: hidden;
}

.profile-info {
  width: 100%;
  text-align: center;
}

.profile-name {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 0.15em;
}

.profile-address {
  color: var(--green);
  font-size: 1rem;
  font-weight: 600;
}

.profile-bio {
  font-size: 1rem;
  width: 100%;
  text-align: center;
  color: hsl(0, 0%, 78%);
}

.profile-links {
  width: 100%;
}

.profile-links ul {
  display: flex;
  flex-direction: column;
  gap: 1.1em;
  font-weight: 600;
  font-size: 1rem;
}

.profile-links li {
  list-style: none;
  text-align: center;
  background-color: var(--grey);
  padding: 0.9em;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .profile-card {
    width: 440px;
    padding: 3.25em;
  }

  .profile-content-wrapper {
    gap: 1.85em;
  }

  .profile-image {
    width: 30%;
  }

  .profile-name {
    font-size: 2rem;
    margin-bottom: 0.25em;
  }

  .profile-address {
    font-size: 1.15rem;
  }

  .profile-bio {
    font-size: 1.1rem;
  }

  .profile-links ul {
    font-size: 1.1rem;
  }

  .profile-links li {
    padding: 1em 0;
  }

  .profile-links li:hover {
    cursor: pointer;
    background-color: var(--green);
    color: var(--black);
  }
}
