/* CSS Reset --> */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* CSS Reset <-- */

@font-face {
  font-family: "Inter_VariableFont";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --black: hsl(0, 0%, 8%);

  font-family: "Inter_VariableFont";

  font-size: 14px;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--black);
  color: var(--white);
}

.profile-card {
  border: 1px solid red;
  width: 320px;
  background-color: var(--dark-grey);
}

.profile-content-wrapper {
  border: 1px dashed blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  width: 30%;
  border: 1px dashed yellow;
}
